<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Account</title>
<link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
	<img th:src="@{/images/landschap.png}" />

	<ul>
		<li><a th:href="@{/main}">Home</a></li>
		<li><a th:href="@{/accounts}">Accounts</a></li>
		<li style="float: right"><a
			href="javascript: document.logoutForm.submit()">Uitloggen</a></li>
	</ul>

	<form name="logoutForm" th:action="@{/logout}" method="post"
		th:hidden="true">
		<input type="submit" value="Logout" />
	</form>

	<fieldset style="width: 75%;">
		<div>
			<h1>Account wijzigen</h1>
			 <p th:text="${message}" />
		</div>

		<form name="accountMuteerForm" th:action="@{/accountMuteerForm}"
			method="post" th:object="${account}">
	
			<table>
				<tr>
					<td class=text>usernaam :</td>
					<td><input type="text" th:field="*{userNaam}" /></td>
					<td><input type="hidden" th:field="*{id}" /> <span
				class="validationError" th:if="${#fields.hasErrors('userNaam')}"
				th:errors="*{userNaam}">usernaam moet ingevuld!</span></td>
				</tr>
				<tr>
					<td class=text>Password :</td>
					<td><input type="password" th:field="*{password}" /></td>
					<td> <span
				class="validationError" th:if="${#fields.hasErrors('password')}"
				th:errors="*{password}">password moet ingevuld!</span></td>
				</tr>
				<tr>
					<td class=text>Rol :</td>
					<td class=left><select th:field="*{rol}">
							<option
								th:each="rol : ${T(springframework.secureWeb.domein.Account.Rol).values()}"
								th:value="${rol}" th:text="${rol}"></option>

					</select></td>
				</tr>
				<tr>
					<td colspan=2>
						<hr>
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						<ul>
							<li><a
								href="javascript: document.accountMuteerForm.submit()">OK</a></li>
							  <li onclick="bevestigKeuze()"><a>Verwijder</a></li>
						</ul>
					</td>
				</tr>
			</table>

		</form>

		<form name="accountVerwijder"
			th:action="@{/account/verwijder/{id} (id=${account.id})}"
			method="post" th:hidden="true">
			<input type="submit" value="Account verwijderen" />
		</form>
	</fieldset>

	<script type="text/javascript">
		function bevestigKeuze() {
			if (confirm('Wilt u deze account echt verwijderen?')) {
				document.accountVerwijder.submit();
			} else {
				return false;
			}
		}
	</script>

</body>
</html>