<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Account</title>
        <link rel="stylesheet" th:href="@{/styles.css}" />
    </head>
    <body>
        <img th:src="@{/images/landschap.png}"/>

        <ul>
            <li><a th:href="@{/main}">Home</a></li>
            <li style="float:right"><a href="javascript: document.logoutForm.submit()" >Uitloggen</a></li>
        </ul>

        <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
            <input type="submit" value="Logout"/>
        </form> 

        <fieldset style="width:75%;">
            <div>
                <h1>Account invoeren / wijzigen</h1>
            </div> 
            <form name="accountForm" th:action="@{/accountForm}" method="post" th:object="${account}">
                <input type="hidden" th:field="*{id}"/>
                <span class="validationError"
                      th:if="${#fields.hasErrors('userNaam')}" 
                      th:errors="*{userNaam}">usernaam moet ingevuld!</span>
                <table>
                    <tr>
                        <td class=text>usernaam : </td>
                        <td><input type="text" th:field="*{userNaam}"/></td>
                    </tr>
                    <tr>
                        <td class=text>Password : </td>
                        <td><input type="text"   th:field="*{password}"/></td>
                    </tr>
                    <tr>
                        <td class=text>Rol : </td>
                        <td><input type="text"  th:field="*{rol}"/></td>
                    </tr>
                    <tr>
                        <td colspan=2>
                            <hr>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <ul>
                                <li><a href="javascript: document.accountForm.submit()">OK</a></li>
                            </ul>
                        </td>
                    </tr>
                </table>

            </form> 
        </fieldset>
    </body>
</html>