<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Bestellingen</title>
	<link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
<p><img th:src="@{/images/landschap.png}" /></p>

<ul>
	<li><a th:href="@{/main}">Home</a></li>
	<li><a th:href="@{/bestelling}">Bestellingen</a></li>
	<li><a th:href="@{/bestelregel/nieuw/{bestellingId} (bestellingId=${bestellingId})}">Nieuwe bestelregel</a></li>
	<li style="float: right;"><a href="javascript: document.logoutForm.submit()">Uitloggen</a></li>
</ul>

<form method="post" name="logoutForm" th:action="@{/logout}" th:hidden="true"><input type="submit" value="Logout" />&nbsp;</form>

<fieldset style="width: 75%;">
<div>
<h1>Bestelregels</h1>
</div>

<table id="nice">
	<tbody>
		<tr>
			<th class="left">Artikel</th>
			<th>Aantal</th>
			<th>Prijs</th>
		</tr>
		<div th:each="bestelregel : ${bestelregels}">
		<tr>		
			<td class="left"><a class=link
						th:href="@{/bestelregel/muteer/{id} (id=${bestelregel.id})}"><span th:text="${bestelregel.artikel.naam}">artikel</span></td>
			<td><span th:text="${bestelregel.aantal}">Aantal</span></td>
			<td><span th:text="${bestelregel.prijs}">Prijs</span></td>
		</tr>
		</div>
		
		<!--<tr>
        	<td colspan=3>
            	<hr>
            </td>
    	</tr>-->
		<!--<tr><td colspan=3>
	                            <ul>
	                                <li><a href="javascript: document.bestelling/verwijder" >Verwijder hele bestelling v2.0</a></li>
	                            </ul>
	                            <form name="bestellingVerwijder" th:action="@{/bestelling/verwijder/{bestellingId} (id=${bestellingId})}" method="post" th:hidden="true">
									<input type="submit" value="Gehele bestelling verwijderen" />
								</form>
		</td></tr>-->
		<tr>
			<td colspan=3 class="center">
				<!--<a method="post" th:href="@{/bestelling/verwijder/{bestellingId} (bestellingId=${bestellingId})}">Verwijder hele bestelling</a>-->
				<!--<form name="bestellingVerwijder" th:action="@{/bestelling/verwijder/{bestellingId} (bestellingId=${bestellingId})}"	method="post">
					<input style="background-color:#4CAF50; color:white" type="submit" value="Verwijder hele bestelling" />
				</form>-->
				<ul><li><a href="javascript: document.bestellingVerwijder.submit()">Verwijder hele bestelling</a></li></ul>
				<form method="post" name="bestellingVerwijder" th:action="@{/bestelling/verwijder/{bestellingId} (bestellingId=${bestellingId})}" th:hidden="true">
				<input type="submit"></form>
			</td>
		</tr>
	
				
    	
	</tbody>
</table>
<p>

<p>    	
    		
		
    	
</fieldset>
<!--<script type="text/javascript">
		function bevestigKeuze() {
			if (confirm('Wilt u de <b>gehele bestelling</b> echt verwijderen?')) {
				document.bestellingVerwijder.submit();
			} else {
				return false;
			}
		}
</script>-->
</body>
</html>
