<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Bestelregel</title>
<link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
	<img th:src="@{/images/landschap.png}" />

	<ul>
		<li><a th:href="@{/main}">Home</a></li>
		<li><a th:href="@{/bestelregels/{bestellingId} (bestellingId=${bestellingId})}">Deze bestelling</a></li>
		<li><a th:href="@{/bestelling}">Alle bestellingen</a></li>
		<li style="float: right"><a
			href="javascript: document.logoutForm.submit()">Uitloggen</a></li>
	</ul>

	<form name="logoutForm" th:action="@{/logout}" method="post"
		th:hidden="true">
		<input type="submit" value="Logout" />
	</form>

	<fieldset style="width: 75%;">
		<div>
			<h1>Bestelregel wijzigen</h1>
		</div>

		<form name="bestelregelMuteerForm" th:action="@{/bestelregelMuteerForm}"
			method="post" th:object="${bestelregel}">
			<input type="hidden" th:field="*{id}" />
			<table>
				<tr><td class=text>Artikel : </td>
                		<td><select th:field="*{artikel}">
                				<option th:each="artikel : ${artikelen}" th:value="${artikel.id}" th:text="${artikel.naam}+' - prijs: '+${artikel.prijs}+' euro - voorraad: '+${artikel.voorraad}">
                				</option></select></td></tr>
              
                <tr>
                        	<td class=text>Aantal : </td>
                        	<td><input type="number" th:field="*{aantal}"/></td>
                        	<td><span class="validationError" th:if="${#fields.hasErrors('aantal')}" th:errors="*{aantal}">Aantal moet positief zijn</span></td>
                </tr>
				<tr>
					<td colspan=2>
						<hr>
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						<ul>
							<li><a
								href="javascript: document.bestelregelMuteerForm.submit()">OK</a></li>
							  <li onclick="bevestigKeuze()"><a>Verwijder</a></li>
						</ul>
					</td>
				</tr>
			</table>

		</form>

		<form name="bestelregelVerwijder"
			th:action="@{/bestelregel/verwijder/{id} (id=${teMuterenBestelregel.id})}"
			method="post" th:hidden="true">
			<input type="submit" value="Bestelregel verwijderen" />
		</form>
	</fieldset>

	<script type="text/javascript">
		function bevestigKeuze() {
			if (confirm('Wilt u deze bestelregel echt verwijderen?')) {
				document.bestelregelVerwijder.submit();
			} else {
				return false;
			}
		}
	</script>

</body>
</html>