<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Bestelregel beheer</title>
        <link rel="stylesheet" th:href="@{/styles.css}" />
    </head>
    <body>
        <img th:src="@{/images/landschap.png}"/>

        <ul>
            <li><a th:href="@{/main}">Home</a></li>
            <li><a th:href="@{/bestelling}">Bestelling</a></li>
            <li style="float:right"><a href="javascript: document.logoutForm.submit()" >Uitloggen</a></li>
        </ul>

        <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
            <input type="submit" value="Logout"/>
        </form> 

        <fieldset style="width:75%;">
            <div>
            	<h1>Bestelregel toevoegen</h1>
            </div> 
            
            
            
            
           <form name="bestelregelForm" th:action="@{/bestelregelForm}" method="post" th:object="${bestelregel}">
                <input type="hidden" th:field="*{id}"/>
                
                	<table>
                		<div th:object="${bestelling}">
                			<tr th:if="${klantOptieToevoegen != null}"><td class=text>Klant : </td>
								<td class=left><select th:field="*{klant}">
                			<option th:each="klant : ${klanten}" th:value="${klant.id}" th:text="${klant.voornaam+' '+klant.tussenvoegsel+' '+klant.achternaam}">
                			</option></select></td></tr>
                		</div>    				
                		
          		      	<tr><td class=text>Artikel : </td>
                		<td><select th:field="*{artikel}">
                				<option th:each="artikel : ${artikelen}" th:value="${artikel.id}" th:text="${artikel.naam}+' - prijs: '+${artikel.prijs}+' euro - voorraad: '+${artikel.voorraad}">
                				</option></select></td>
                		</tr>
              
                    	<tr>
                        	<td class=text>Aantal : </td>
                        	<td class=left><input type="number" th:field="*{aantal}"/></td>
                        	<td><span class="validationError" th:if="${#fields.hasErrors('aantal')}" th:errors="*{aantal}">Aantal moet positief zijn</span></td>
                        	<!--<td th:if="${voorraadVoldoetNietMessage==true}" class=text>Gekozen aantal van artikel is niet voorradig, kies opnieuw</td>-->
                    	</tr>
	                    <tr>
	                        <td colspan=2>
	                            <hr>
	                        </td>
	                    </tr>
	                    <tr>
	                        <td></td>
	                        <td>
	                            <ul>
	                                <li><a href="javascript: document.bestelregelForm.submit()">Toevoegen</a></li>
	                            </ul>
	                        </td>
	                    </tr>
                </table>

            </form>

        </fieldset>        
</body>
</html>
