<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Klant beheer</title>
        <link rel="stylesheet" th:href="@{/styles.css}" />
    </head>
    <body>
        <img th:src="@{/images/landschap.png}"/>

        <ul>
            <li><a th:href="@{/main}">Home</a></li>
            <li><a th:href="@{/klanten}">Klanten</a></li>
            <li><a th:href="@{/bezorgadres/{id} (id=${klant.id})}">Bezorgadres</a></li>
            <li><a th:href="@{/factuuradres/{id} (id=${klant.id})}">Factuuradres</a></li>
            <li style="float:right"><a href="javascript: document.logoutForm.submit()" >Uitloggen</a></li>
        </ul>

        <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
            <input type="submit" value="Logout"/>
        </form> 

        <fieldset style="width:75%;">
            <div>
                <h1>Klant beheer</h1>
            </div> 
            <form name="klantForm" th:action="@{/klantForm}" method="post" th:object="${klant}">

                <input type="hidden" th:field="${klant.id}"/>
                <input type="hidden" th:field="*{account}"/>

                <span class="validationError"
                      th:if="${#fields.hasErrors('achternaam')}" 
                      th:errors="*{achternaam}">Achternaam moet ingevuld!</span>
		

	
                <table>
                  
                    <tr>
                        <td class=text>Voornaam : </td>
                        <td><input type="text" th:field="*{voornaam}"/></td>
                        <td>
                <span class="validationError"
                      th:if="${#fields.hasErrors('voornaam')}" 
                      th:errors="*{voornaam}">Voornaam moet ingevuld!</span></td>
                    </tr>
                    <tr>
                        <td class=text>Tussenvoegsel : </td>
                        <td><input type="text" th:field="*{tussenvoegsel}"/></td>
                    </tr>
                    <tr>
                        <td class=text>Achternaam : </td>
                        <td><input type="text" th:field="*{achternaam}"/></td>
                    </tr>

                    <div th:object="${postadres}" >

                              <span class="validationError"
                              th:if="${#fields.hasErrors('straatnaam')}" 
                              th:errors="*{straatnaam}">Straatnaam = verplicht!</span>
                              <span class="validationError"
                              th:if="${#fields.hasErrors('woonplaats')}" 
                              th:errors="*{woonplaats}">Straatnaam = verplicht!</span>

                        <tr><td class=text>Postadres</td>
                            <input type="hidden" th:field="*{adresType}"/>
                            <input type="hidden" th:field="*{klant}"/>



                        </tr>
                        <tr>
                            <td class=text>Straatnaam : </td>
                            <td><input type="text" th:field="*{straatnaam}"/></td>
                        </tr>
                        <tr>
                            <td class=text>Huisnummer : </td>
                            <td><input type="text" th:field="*{huisnummer}"/></td>
                        </tr>
                        <tr>
                            <td class=text>Toevoeging : </td>
                            <td><input type="text" th:field="*{toevoeging}"/></td>
                        </tr>
                        <tr>
                            <td class=text>Postcode : </td>
                            <td><input type="text" th:field="*{postcode}"/></td>
                        </tr>
                        <tr>
                            <td class=text>Woonplaats : </td>
                            <td><input type="text" th:field="*{woonplaats}"/></td>
                        </tr>
                        <tr>
                            <td class=text>Bezorgadres : </td>
                            <td class=left><span th:text="${bezorgadres!=null}?'aanwezig':'afwezig'">Stef</span></td>
                        </tr>
                        <tr>
                            <td class=text>Factuuradres : </td>
                            <td class=left><span th:text="${factuuradres!=null}?'aanwezig':'afwezig'">Stef</span></td>
                        </tr>
                    </div>

                    <tr>
                        <td colspan=2>
                            <hr>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <ul>
                                <li><a href="javascript: document.klantForm.submit()">Wijzig</a></li>
                                <li onclick="bevestigKeuze()"><a>Verwijder</a></li>
                            </ul>
                        </td>
                    </tr>
                </table>

            </form> 

            <form name="klantVerwijder" th:action="@{/klant/verwijder/{id} (id=${klant.id})}" method="post" th:hidden="true">
                <input type="submit" value="Klant verwijderen"/>
            </form> 
        </fieldset>

        <script type="text/javascript">
            function bevestigKeuze() {
                if (confirm('Wilt u deze klant echt verwijderen?')) {
                    document.klantVerwijder.submit();
                } else {
                    return false;
                }
            }
        </script>
    </body>
</html>